<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Remote Rush: Remote companies and jobs for technical employees</title>
  <meta name="description" content="Remote company and job search tool for the best technical talent">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/choices.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/favicon.ico">

</head>
<body>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="sw">
  <form>
    <input id="search" type="search" class="search" placeholder="Coming Soon...company: revenue > 1M, language: c, java..." disabled style="opacity:0.5"/>
    <button class="go" style="opacity:0.5"><span></span></button>
    <a href="/" class="logo" title="Remote Rush">
      <img height="40px" src="/img/logo.png" />
    </a>
  </form>
</div>

<div class="container">
  <div id="main" class="content">
    <!-- Display flash message -->
    {% if ctx.flash and ctx.flash.message %}
    <div class="alert alert-{{ ctx.flash.message[0] }}"
         role="alert">
      {{ ctx.flash.message[1] }}
    </div>
    {% endif %}

    {% if ctx.currUser %}
        <a style="color:black; font-size: 14px; float:left" href="/admin">Approve</a>
        <form style="margin-bottom: 0" action="/sessions/{{ ctx.currSessionId }}" method="POST" class="navbar-right">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn-link navbar-btn" style="float:right">
            Logout
          </button>
        </form>
    {% endif %}

    {% block embed %}{% endblock %}
  </div>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch,Promise,Symbol"></script>
<script type="text/javascript" src="/js/app.js"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
